<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
</head>
<body>
    <h1> My To-Do List</h1>
    <table>
        <tr>
            <th>To-Dos</th>
        </tr>
        {% for task in object_list %}
        <tr>
            <td>{{task.task_name}}</td>
        </tr>
        {% empty %}
        <h3> Currently No Tasks in List</h3>
        {% endfor %}
    </table>
</body>
</html>