<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Task</title>
    {% load static %} <!-- Load static files -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"> <!-- Link to main.css -->
</head>

<body id='taskbody'>
    <h1> Delete Your Task</h1>
    <p> Delete task? - {{tasks}}</p>

    <form action="" method="POST">
        {% csrf_token %}
        <input type="submit" name="Yes">
    </form>

    <a href="{% url 'tasks' %}"> Cancel </a>
</body>
</html>
