
{% extends 'base.html' %}

{% block head %}

<body id='userloginpage'>
    
    
    <div class="userbox">
        <h1>Login</h1>
        <form action='/userlogin' method='post'>
            {% csrf_token %}
            {% if error %}
                <p style="color: red;">{{ error }}</p>
            {% endif %}
            <input type='text' id='username' name='username' class='inputbox' placeholder="Enter Username" required>
            <br>
            <input type='password' id='password' name='password' class='inputbox' placeholder="Enter Password" required>
            <br>
        <button type='submit' > SignIn </button>
        <br>
        <a href='signup'> Create Account</a> 
        </form>
        </div>
    
</body>

{% endblock %}
